.bulleetSec{
    padding:0 0 15px 40px;
    position: relative;
}
.bulleetSec:after{
    content:"";
    position: absolute;
    left: 38px;
    height: 100%;
    top:26px;
    width:1px;
    background:#ccc;
}